# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized

**Objectives:**

- Common popular languages in Data Science
- Common libraries used in Data Science
- Devlopment environment Open source tools used in Data Science 
- Writing a simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. Scikit-Learn

Some of the common development environment open source tools used in data science are shown in the following table:

|Data Science Tools|
|------------------|
|JupyterLab|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#The following expression converts 200 mintues into hours by dividing by 60
200/60

3.3333333333333335

## Author

Mohamed T Ziyavudeen